/* Base Configuration */ 

$body: #fefefe;
$small-font: 14px;
$base-font: 16px;
$large-font: 24px;
$xlarge-font: 32px;
$call-to-action: #0072C6;
$font-headings: 'Titillium Web', sans-serif;
$font-body: 'Open Sans', sans-serif;

$max-width: 500px;
$border-radius: 10px;